<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="default" connectionString="Server=(localdb)\mssqllocaldb;Database=TaringStore;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>